@import "./variables.scss";

%message-shared {
  display: inline-block;
  font-size: 12px;
  color: rgb(46, 46, 46);
  font-weight: 300;
  border-radius: 3px;
  padding: 4px 7px;
  white-space: nowrap;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgb(240, 242, 245);
}
main {
  padding: 50px;
  .wrapper {
    border: 1px solid $borderColor;
    background: white;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    .search-pannel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 24px;
      border-bottom: 1px solid $borderColor;
      input {
        padding: 4px 30px 4px 11px;
        border: 1px solid silver;
        border-radius: 3px;
        width: 400px;
      }
    }

    .table {
      padding: 24px;
      font-size: 14px;

      .no-data {
        text-align: center;
        display: grid;
        color: silver;
        font-weight: 600;
        span {
          margin-bottom: 15px;
        }

        i {
          color: rgb(223, 223, 223);
          font-size: 50px;
        }
      }

      .display {
        display: none;
      }
      .content {
        flex-wrap: wrap;
        align-content: center;
        height: 700;
        .head {
          .hidden-plus-sign {
            visibility: hidden;
          }
        }
        .head,
        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          background-color: rgba(236, 234, 234, 0.324);
          padding: 16px;
          border-bottom: 1px solid $borderColor;
          // border-bottom: 1px solid red;
          .separator {
            color: $borderColor;
            padding: 0 5px;
          }

          .tag {
            @extend %message-shared;
            vertical-align: middle;
            background-color: rgba(236, 234, 234, 0.324);
            border: 1px solid $borderColor;
          }
          .child {
            width: 170px;
            overflow: hidden;
            display: flex;
            align-items: center;

            span.status {
              @extend %message-shared;
            }
          }
          .name-cell {
            width: 400px;
            display: flex;
            align-items: center;
          }
        }
        .row {
          div {
            min-width: 20px;
            // &:first-child {
            //   cursor: pointer;
            // }
            .plus-sign {
              cursor: pointer;
            }
          }
          color: rgb(132, 132, 132);

          .first-contact {
            background-color: #9bcdfd;
          }
          .negotiation {
            background-color: #fbfdad;
          }
          .decisions {
            background-color: #fdcb6e;
          }
          .agreement {
            background-color: green;
          }
          font-weight: 300;
          background-color: white;
          i {
            color: white;
            background-color: silver;
            text-align: center;

            font-size: 13px;
            padding: 8px;
            margin-right: 10px;
            border-radius: 20px;
          }
        }
        .contacts {
          flex-direction: column;
          align-content: flex-start;
          margin: 0 0 5px 0px;
          padding-left: 50px;
          background-color: rgba(236, 234, 234, 0.324);
          .child {
            margin-bottom: 10px;
            // border-bottom: 1px solid $borderColor;
            .tag {
              border: none;
              background-color: F9F8F8;
              i {
                font-size: 13px;
                background-color: F9F8F8;
                color: #3b9af2;
                padding: 0;
                margin-right: 0;
              }
            }
          }
        }
        .visible {
          display: none;
        }
      }
    }
  }
}
