<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style-dist.css" />
  </head>

  <body>
    <section>
      <main>
        <div class="wrapper">
          <div class="search-pannel">
            <div class="title">Пример тестового задания</div>
            <div class="search">
              <input type="text" placeholder="Поиск сделок" />
            </div>
          </div>
          <div class="table">
            <div class="content">
              <div class="head item">
                <div class="first-cell hidden">+</div>
                <div class="second-cell" >Название</div>
                <div class="child">Статус</div>
                <div class="child">Ответственный</div>
                <div class="child">Дата создания</div>
                <div class="child">Бюджет</div>
              </div>
            {{#each data}}
              <div class="row item">
                <div class="first-cell"><span>+</span></div>
                <div class="second-cell">{{name}}</div>
                <div class="child">Статус</div>
                <div class="child">Ответственный</div>
                <div class="child">Дата создания</div>
                <div class="child">{{price}} ₽</div>
              </div>
            {{/each}} 
            </div>
          </div>

        </div>
      </main>
    </section>
    {{! <script src="script.js"></script> }}
  </body>
</html>

{{!-- {{#each data}}
                {{id}}
              {{/each}} --}}